html {
    background:#ffffff;
  }
  body {
    background:#ffffff;
  }
  .table {
    background-color:#ffffff;
    border-radius: 10px;
  }
  .table td  {
    color:#fff;
    font-family: "Space Mono", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }

  .table thead th  {
    color:#fff;
    font-family: "Space Mono", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }

  .titletwo  {
    color:#000000;
    font-family: "Space Mono", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
  }

  .mycard {
    background-color: #ffffff;
    width: 100%;
    max-width: 302px;
    height: auto;
    border: 1px solid #6966FB;
    border-radius: 15px;
    box-shadow: 0 0 4px #6966FB;
}

.card-deck {
    white-space: normal;
    text-align: center; /* Center the cards within the container */
}

.card {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

/* Center the last card when it's the only one on the line */
.card-deck::after {
    content: '';
    display: inline-block;
    width: 100%;
}


  .badge-h6 {
    font-size: 1rem; /* Adjust the font size as needed */
  }

  .btnx {
    padding: 10px 20px;
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
    border-radius: 0px;
    background: linear-gradient(to right, #000000, #000000);
    cursor: pointer;
    font-family: "Space Mono", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .btnx::before {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 0px;
    background-color: white;
    z-index: -1;
    transition: 200ms
  }
  .btnx::after {
    content: attr(data);
    font-size: 16px;
    background: linear-gradient(to left, #000000, #000000);
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms
  }
  .btnx:hover::before {
    opacity: 0%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .btnx:hover::after{
    color: white;
  }
  .space-mono-regular {
    font-family: "Space Mono", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  
  .space-mono-regular-italic {
    font-family: "Space Mono", system-ui;
    font-weight: 400;
    font-style: italic;
  }
  
  .space-mono-bold-italic {
    font-family: "Space Mono", system-ui;
    font-weight: 700;
    font-style: italic;
  }

  .ttfont {
    font-size: 20px;
    text-align: left;
    margin:20px;
  }
  
 

.avatar {
  width: 200px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}